
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');

*{
    font-family: Work Sans; 
    margin: 0;
    padding: 0;
}

.header{
    background: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background: #FF900E;
    border-radius: 6px;
    width: 149px;
    height: 54px;
    color: #FFFFFF;
}

/*-----------------------------
      header and banner style 
---------------------------------*/
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    color: #131313;
    font-weight: 700;
    font-size: 22px;
    margin-left: 199px;
    margin-top: 50px;

}

nav ul{
    display: flex;
    justify-content: space-between;
    margin-right: 122px;
    margin-top: 59px;

}

nav ul li{
    color: #424242;
    list-style: none;
    text-indent: 63px;   
    font-weight: 500;
    font-size: 13px;

}


.banner{
    display: inline-grid;
    justify-items: center;

}

/* .banner-details{ */
    /* display: inline-grid;
    justify-items: center; */
    
/* } */

.banner-title{
    color: #131313;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.banner-description{
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    padding: 1px 3px;
    margin-top: 13px;
}
.btn-primary.architects{
    margin-top: 22px;
    font-size: 17px;
}

.banner img{
    width: 79%;
    
}

.banner-image{
         display: inline-grid;
        justify-items: center;
         margin: 33px 0;  
}

/* ===----------------------------
main features section style 
-------------------*/

.features-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

 .features{
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
     gap: 73px; 
} 

   .features-images  img{
    width: 232px;
    height: 232px;
    border-radius: 10px;

} 

 .features-images{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    row-gap: 19px;
    

} 

.features-details{
    width: 50%;
    
}

.features-title{
    color: #727272;
    font-weight: 500;
    font-size: 27px;
}

.title-color{
    color: #131313;
    font-weight: 700;
    font-size: 27px;
}

.title-other-color{
    color: #FF900E;
    font-weight: 700;
    font-size: 27px;
}

.features-description{
    font-weight: 400;
    font-size: 13px;
    color: #727272;
    margin-top: 13px;
    /* padding: 3px 3px;  */
    font-weight: 400;
    color: #727272;
} 

.features-button{
    margin-top: 13px;
}

/*--------------------------------------------- ----------------features love and enjoy style -----------------*/
.features-love{
    display: flex;
    justify-content: center;
     align-items: center;
    margin-top: 94px;
}

.features-love-container{
    width: 70%;
    height: 70%;
    display: flex;
    gap: 42px;
    
}

.features-love-enjoy{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.verticle{
    content: "";
    width: 5px;
    height: 94px;
    background: #FF900E;
    margin-top: 13px;
}

.features-love-title{
    color: #131313;
    font-size: 27px;
    font-weight: 700;
    margin-top: 13px;
    margin-left: 22px;
}

.features-love-description{
    color: #727272;
    font-weight: 400;
    font-size: 13px;
    margin-top: 49px;
}

.features-variation-details{
    margin-top: 22px;
    color: #727272;
    font-weight: 400;
    font-size: 13px;
    box-shadow: 3px 3px 3px grey;
}

.features-variation-title{
    color: #131313;
    font-size: 14px;
}

.features-variation-description{
    margin-top: 10px;
}

.features-variation-images{
    width: 50%;
    position: relative;

}

.features-variation-images img{
    width: 100%;
    height: 90%;
}

.btn-primary.variation{
    
    position: absolute;
    left: -22px;
    width: 122px;
    height: 122px;
    bottom:49px;
    
}

.btn-primary  .float{
    font-size: 22px;
    font-weight: 700;
}


/*  ------------------
    facts details styles
    ----------------*/

.facts-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.facts-details{
    width: 70%;
    height: 70%;

}
.facts-info{
    margin-top:49px;
}

.facts-title{
    color: #131313;
    font-weight: 700;
    font-size:27px;

}

.facts-description{
    color: #727272;
    font-size:13px;
    font-weight: 400;
    margin-top: 19px;
}



.facts-stat{
    display: flex;
    justify-content: space-around;
    
}

.facts-stat-details img{
    width:23px;
    margin-top: 13px;

}

.facts-stat-details{
    border: 3px solid #FF900E;
    border-radius: 11px;
    width: 122px;
    height:122px;
    text-align: center;
    margin-top: 79px;
    transition: 2s;
}

.facts-stat-details:hover{
    width: 400px;
    height: 250px;
    transition-timing-function: linear;
}

.facts-stat-title{
    color:#424242;
    font-size: 27px;

}

.facts-stat-description{
    color: #727272;
    font-size: 20px;

}

/* -----------------------------------------------------      Section Sponsors style
------------------------------------------------- */


.sponsors{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsors-container{
    width: 70%;
    height: 70%;
}

.sponsors-details{
    text-align: center;
    margin-top: 180px;

}

.sponsors-title{
    margin-bottom: 24px;
}

.sponsors-description{
    text-align: center;
    margin-bottom: 49px;
}
.sponsors-info{
    display: flex; 
    justify-content: space-between;

}

.sponsors-name{
    

}

.sponsors-name img{
    width: 75%;
    filter: grayscale(10);

}



.footer{
    display: flex;
    justify-content: center;
    
}

.footer-title{
     width: 70%; 
    color: #424242;
    font-size: 20px;
    font-weight: 400;
    border: 379px;
    background: #FFF4E7;
    border-radius: 13px;
    margin-top: 179px;
    text-align: center;
    margin-bottom: 179px;
    padding: 79px 79 px;
}
.hide{
    display: none;
}

@media  only screen and (max-width:668px){
    .nav-container{
        display: flex;
        flex-direction: column;
        align-items:start;
        /* justify-content: left; */
    }

    .nav-title{
         margin-left:3px; 
        
    }

    nav ul{
        flex-direction: column;
        /* justify-content: left; */
        /* align-items: start; */

    }

    /* .features-container{
        display: flex; 
        flex-direction: column;
    } */

    .features{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .features-images{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .features-details{
        width: 100%;
        
    }


    .features-love-container{
        display: flex;
        flex-direction: column;
    }

    .features-love-enjoy{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    

    .features-variation-images{
        width: 100%;
        /* position: relative; */
    
    }
    
    /* .features-variation-images img{
        width: 100%;
        height: 90%;
    } */
 
    
    .btn-primary.variation{
    
        /* position: absolute; */
        left: -22px;
        width: 122px;
        height: 122px;
        bottom:-22px;
        
    }

    .facts-stat{
        display: flex;
        flex-direction: column;
        
    }

    .facts-stat-details{
        transition: 2s;
    }
    
    .facts-stat-details:hover{
        width: 400px;
        height: 250px;
        transition-timing-function: linear;
    }
}